@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;700;800&display=swap');
.theme--dark.v-application {
    background: var(--v-background-base) !important;
}
::-webkit-scrollbar {
    width: 8px;
    background: var(--v-background-base); 
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba($color: #000000, $alpha: .2); 
}   
::-webkit-scrollbar-thumb {
    background: var(--v-border-base); 
    border-radius: 2px;
}  
::-webkit-scrollbar-thumb:hover {
    background: var(--v-primary-base); 
}

h1, h2, h3, h4, .semi{
    font-family: 'Urbanist', sans-serif !important;
    font-weight: 600 !important;
}
body, h5, h6, p {
    font-family: 'Roboto' !important;
}
.container-default {
    max-width: 1240px !important;
}
.container-post {
    max-width: 1040px !important;
}
footer {
    background: rgba(239, 239, 239, 1);
}
.footer-default {
    width: 1320px !important;
}
.fab {
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}
.whatsapp {
    background-color: #25d366 !important;
    bottom: 90px !important;
    color: white !important;
}
h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
p, li {
    font-size: 14px !important;
}
.background-index {
    background-image: url('/img/bg-admin.png') !important;
    background-size: cover !important;
}
header .v-btn {
    text-transform: none !important;
    font-family: 'Roboto', sans-serif;
}
header .v-btn:hover {
    color:  var(--v-primary-base) !important;
}
header .v-btn:before {
    display: none !important;
}
.header, .footer {
    max-width: 1320px !important;
}
.header .v-btn {
    text-transform: none !important;
    font-weight: 700 !important;
}
.v-btn {
    font-family: 'Urbanist', sans-serif !important;
    height: 40px !important;
}
.v-btn--fab.v-size--default {
    height: 56px !important;
}
.banner-rounded {
    border-radius: 20px  !important;
}
.app-bar-site {
    background: var(--v-background-base) !important;
    z-index: 100;
}
.app-bar-site .v-toolbar__content {
    max-width: 1240px !important;
    margin: 0 auto;
}
.app-bar-admin {
    background: var(--v-primary-base) !important;
    z-index: 100;
}
.rounded-lg {
    border-radius: 12px !important;
}
.rounded-xl {
    border-radius: 24px !important;
}

.drawer-th {
    background: linear-gradient(134.74deg, #5818E0 20.62%, #5022B4 100%) !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.btn-post-types {
    text-transform: none !important;
}
.btn-post-types .v-btn__content{
   justify-content: start !important;
}

.v-sheet.v-card:not(.v-card--flat) {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
    border-radius: 20px !important;
    transition: all ease 0.5s;
}
.streaming-card {
    background: #58B5F1!important;
    border-radius: 20px!important;
    color: white;
}
.post-card-related .v-image {
    border-radius: 12px 0 0 12px !important;
}
.post-card-related .v-card__text {
    border-radius: 0 12px 12px 0 !important;
    height: 100%;
}
.v-sheet.post-card-related {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.avatar-professional {
    border-radius: 100%;
}
.v-sheet.post-card-related:hover {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25) !important;
}
.v-sheet.post-card:hover {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.25) !important;
}
.v-sheet.streaming-card:hover {
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.45) !important;
}
@media (max-width: 400px) {
    .v-slide-group__next, .v-slide-group__prev {
        min-width: 15px !important;
    }
}
